{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="container mt-5 mb-5 text-center">
    <h2 class="proj-main-heading"><span class="border-bottom">Completed <span class="proj-color">Projects</span></span></h2>
    <div class="row mt-4">
        <div class="col-md-3">
            <h4 class="proj-sub-heading">client</h4>
        </div>
        <div class="col-md-3">
            <h4 class="proj-sub-heading">Location</h4>
        </div>
        <div class="col-md-3">
            <h4 class="proj-sub-heading">Project</h4>
        </div>
        <div class="col-md-3">
            <h4 class="proj-sub-heading">Quantity</h4>
        </div>

    </div>
</div>
{% endblock content %}
