
{% extends 'index.html' %}
{% load static %}


{% block content %}

<div class="container">
    <div class="row mt-5 mb-5">
        <!-- <div class="col-md-1"></div> -->
        <div class="col-md-12">
            
            <div class="section">
                <h2>Who are we ?</h2>
                <p>Est. 2002 with a strong commitment to excellence and innovation, delivering high-quality services that meet the diverse needs of our client.</p>
            </div>
              
        </div>
        <!-- <div class="col-md-1"></div> -->



        
    </div>

    <div class="row">
        <!-- <div class="col-md-1"></div> -->

        <div class="col-md-12">
            <div class="section">
                <h2>Why choose us ?</h2>
                <p>Experience with over 20 yrs in the industry, we have the expertise and knowledge to tackle a wide array of projects.</p>
                <p>Our team consists of highly qualified professionals committed to excellence and continuous improvement.</p>
                <p>We believe in building strong relationships with our clients, ensuring that their needs and objectives are at the forefront of every project.</p>
                <p>We prioritize safety of our team and clients, adhering to the highest safety standards across all our operations.</p>
            </div>
            
        </div>
        <!-- <div class="col-md-1"></div> -->

    </div>
    

   



    

   <div class="row mt-5 mb-5">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="stats-section">
            <div class="stat-item">
                <h2>20+</h2>
                <p>yrs in the Industry</p>
            </div>
            <div class="stat-item">
                <h2>50+</h2>
                <p>Projects</p>
            </div>
            <div class="stat-item">
                <h2>100+</h2>
                <p>Manpower</p>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>

   </div>
    
</div>


{% endblock content %}
