{% extends 'index.html' %}
{% load static %}



{% block content %}

<div class="container">
    <div class="row mt-5 mb-5 contact-us text-center">
        <h2 class="mb-5"><span class="border-bottom">Contact Us</span></h2>
        <div class="col-md-4 mb-4 ">
            {% for msg in messages %}
        <p class="text-danger mt-2 fw-bold text-center">{{msg}}</p>
        {% endfor %}
            <form method="post">
                {% csrf_token %}
                <div class="mb-3 mt-3">
                    <!-- <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name"> -->


                    <div class="form-group">
                        <input type="text" class="form-control" id="name" name="name" placeholder="" required>
                        <label class="form-label" for="name">Name</label>
                    </div>
                </div>
                <div class="mb-3 mt-3">
                    <!-- <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter Email" name="email"> -->

                    <div class="form-group">
                        <input type="email" class="form-control" id="email" name="email" placeholder="" required>
                        <label class="form-label" for="email">Email</label>
                    </div>
                </div>
                <div class="mb-3 mt-3">
                    <!-- <label for="phone_number">Phone Number</label>
                    <input type="number" class="form-control" id="phone_number" placeholder="Enter Phone Number"
                        name="phone_number"> -->
                    
                        <div class="form-group">
                            <input type="number" class="form-control" id="phone_number" name="phone_number" placeholder="" required>
                            <label class="form-label" for="phone_number">Phone Number</label>
                        </div>
                </div>
                <div class="mb-3">
                    <!-- <label for="subject">Subject</label>
                    <input type="text" class="form-control" id="subject" placeholder="Enter Subject" name="subject"> -->

                    <div class="form-group">
                        <input type="text" class="form-control" id="subject" name="subject" placeholder="" required>
                        <label class="form-label" for="subject">Subject</label>
                    </div>

                    
                </div>

                <div class="mb-3 mt-3">
                    <!-- <label for="description">Description</label>
                    <textarea class="form-control" rows="5" id="description" name="description"></textarea> -->
                    <div class="form-group">
                        
                       <textarea class="form-control" rows="5" id="description" name="description" placeholder="" required></textarea> 

                        <label class="form-label" for="description">Description</label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4 mb-4 reg-ofc">
            <h2><span class="border-bottom">Registered Office</span></h2>
            <p class="mt-5">
                # 1-9-334 Basithnagar Julywada <br>
                subedari Hanumakonda <br>
                Telangana - 506001 <br>
                <i class="fas fa-envelope m-2"></i>enquiry@tessra.in <br>
                Mon - Sat: 9:00 - 18:00
            </p>
        </div>

    </div>
</div>


<script src="https://smtpjs.com/v3/smtp.js"></script>

<script>
    function sendEmail() {
        var userEmail = document.getElementById("email").value;
        var emailSubject = document.getElementById("subject").value;
        var emailBody = document.getElementById("body").value;

        Email.send({
            Host: "smtp.gmail.com",
            Username: "enquiry@tessra.in",
            Password: "xfvyommwvxtmbaxw",  // Consider moving sensitive info to the backend
            To: 'enquiry@tessra.in',
            From: userEmail,
            Subject: emailSubject,
            Body: emailBody
        }).then(
            message => alert(message)
        );
    }
</script>

{% endblock content %}