{% extends 'index.html' %}
{% load static %}

{% block content %}

<div class="container py-5">
    <h1 class="heading text-center mb-4">OUR <span style="color:#ff4800">SERVICES</span></h1>
    <div class="row g-4 justify-content-center">
        <div class="col-lg-4 col-md-6 d-flex justify-content-center">
            <div class="service-item text-center">
                <img src="{% static 'images/mechanical-erection.png' %}" alt="Mechanical Erection & Commissioning" class="img-fluid mb-3">
                <h2>Mechanical Erection & Commissioning</h2>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex justify-content-center">
            <div class="service-item text-center">
                <img src="{% static 'images/structural-fabrication.png' %}" alt="Structural Fabrication & Erection" class="img-fluid mb-3">
                <h2>Structural Fabrication & Erection</h2>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex justify-content-center">
            <div class="service-item text-center">
                <img src="{% static 'images/civil-works.png' %}" alt="CIVIL Works" class="img-fluid mb-3" style="height:240px !important;">
                <h2>CIVIL Works</h2>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex justify-content-center">
            <div class="service-item text-center">
                <img src="{% static 'images/solar-works.png' %}" alt="Solar Works" class="img-fluid mb-3">
                <h2>Solar Works</h2>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex justify-content-center">
            <div class="service-item text-center">
                <img src="{% static 'images/electrical-works.png' %}" alt="Electrical Works" class="img-fluid mb-3">
                <h2>Electrical Works</h2>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
